.mainBody{
    background-color: rgba(255, 99, 129, 0.84);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mainBody::before{
    content: "";
    background-image: url('../public/backgroundLayer.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.mainContainer{
    margin: 40px auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo{
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.35));
    height: 7.5rem;
}

.logoContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 16px auto;
}

.titleh1{
    font-family: 'Montserrat', sans-serif;
    font-size: 7.50rem;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.35));
    line-height: 100%;
    color: rgba(36, 8, 88, 0.92);
    text-align: center;
}

.titleh3{
    font-family: 'Oswald', sans-serif;
    font-size: 3.75rem;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.35));
    line-height: 100%;
    color: rgba(98, 4, 79, 1);
    text-align: center;
}

.titleh4{
    font-family: 'Oswald', sans-serif;
    font-size: 1.88em;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.35));
    line-height: 100%;
    color: rgba(98, 4, 79, 1);
    text-align: center;
    margin-bottom: 0.875rem;
}

.titleh5{
    font-family: 'Niconne', cursive;
    font-size: 2.25rem;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.35));
    line-height: 100%;
    color: rgba(52, 41, 111, 1);
    text-align: center;
}

.button{
    padding: 10px 25px;
    margin: 25px auto;
    background-color: rgba(104, 7, 85, 0.85);
    color: #FBAC4F;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.35));
    border: none;
    border-radius: 1.5625rem;
    font-family: 'Nico Moji', cursive;
    font-size: 2.50rem;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: auto;
}

@media  (max-width: 1200px) {
}

@media  (max-width: 992px) {
    .logo{
        height: 6.00rem;
    }
    .titleh1{
        margin: 20px auto;
        font-size: 10vw;
    }
    .titleh3{
        font-size: 5.5vw;
        margin: 20px auto;
    }
    .titleh4{
        font-size: 5vw;
    }
    .titleh5{
        font-size: 4.5vw;
        margin-bottom: 25px;
    }
    .button{
        font-size: 2rem;
    }
}

@media  (max-width: 768px) {
    .logo{
        height: 5rem;
    }
    .titleh1{
        margin: 15px auto;
        font-size: 9.5vw;
    }
    .titleh3{
        font-size: 6.25vw;
        margin: 15px auto;
    }
    .titleh4{
        font-size: 5.25vw;
    }
    .titleh5{
        font-size: 5vw;
        margin-bottom: 25px;
    }
    .button{
        font-size: 1.50rem;
    }
    .logoContainer{
        width: 100vw;
    }
}

@media  (max-width: 576px) {
    .logo{
        height: 4.40rem;
    }
    .titleh1{
        margin: 15px auto;
        font-size: 11.5vw;
    }
    .titleh3{
        font-size: 9.00vw;
        margin: 15px auto;
    }
    .titleh4{
        font-size: 6.00vw;
    }
    .titleh5{
        font-size: 7vw;
        margin-bottom: 25px;
    }
    .button{
        font-size: 1.25rem;
    }
    .mainBody::before{
        background-image: url('../public/backgroundLayerSmall.png');
    }
    .mainContainer{
        margin: 10px auto;
        justify-content: space-around;
    }
}