.navContainer{
    background-color: rgba(255, 123, 149, 1);
    width: 100vw;
}

.navLogoTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem !important;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.35));
    line-height: 100%;
    color: rgba(36, 8, 88, 0.92) !important;
    text-align: center;
    text-transform: uppercase;
}

.navTitle{
    font-family: 'Oswald', sans-serif ;
    font-size: 1.50rem !important;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.35));
    line-height: 100%;
    color: rgba(98, 4, 79, 1) !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: 5px 20px;
}

.button{
    padding: 10px 25px;
    background-color: rgba(104, 7, 85, 0.85);
    color: #FBAC4F;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.35));
    border: none;
    border-radius: 1.5625rem;
    font-family: 'Nico Moji', cursive;
    font-size: 1.25rem;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
}

@media  (max-width: 1200px) {

}

@media  (max-width: 992px) {
    .button{
        margin: 5px auto !important;
        display: block;
    }
    .navLogoTitle{
        font-size: 1.75rem !important;
    }
}

@media  (max-width: 768px) {
    .navLogoTitle{
        font-size: 1.5rem !important;
    }
    .button{
        font-size: 1.125rem;
    }
    .navTitle{
        font-size: 1.375rem !important;
    }
}

@media  (max-width: 576px) {
    .button{
        font-size: 1rem;
    }
    .navTitle{
        font-size: 1.25rem !important;
    }
}