.mainBody{
    background-color: rgba(253, 129, 153, 0.75);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.imageContainer{
    width: 40%;
    margin: 100px auto;
}

.scannerContainer{
    width: 40%;
    border-width: 33px;
    border-color: rgba(127, 29, 98, 1);
    border-style: solid;
    border-radius: 25px;
}

@media  (max-width: 1200px) {
    .imageContainer{
        width: 50%;
    }
    .scannerContainer{
        width: 50%;
    }
}

@media  (max-width: 992px) {
    .imageContainer{
        width: 55%;
    }
    .scannerContainer{
        width: 45%;
        border-width: 25px;
    }
}

@media  (max-width: 768px) {
    .mainContainer{
        flex-direction: column-reverse;
    }
    .imageContainer{
        width: 60%;
        margin: auto;
    }
    .scannerContainer{
        width: 60%;
        margin-top: 112.5px;
        margin-bottom: 0;
    }
}

@media  (max-width: 576px) {
   .imageContainer{
       width: 80%;
    }
    .scannerContainer{
        margin-top: 125px;
        width: 95%;
        border-width: 15px;
   }
}