.mainBody{
    background-color: rgba(253, 129, 153, 0.75);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.mainTitle{
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
    line-height: 100%;
    color: rgba(113, 13, 92, 1);
    text-align: center;
    margin: 100px auto;
    margin-bottom: 37.5px;
}

.contentContainer{
    margin: auto 0;
}

.boxImage{
    padding: 0;
}

.box{
    position: relative;
    width: 100%;
    border-width: 28px;
    border-color: rgba(127, 29, 98, 1);
    background-color: rgba(127, 29, 98, 1);
    border-style: solid;
    border-radius: 25px;
    padding: 0;
    margin: auto;
    border-bottom-width: 50px;
}

.image{
    width: 100%;
    height: auto;
}

.imageContainer{
    margin-top: 25px;
}

.cancelButton{
    position: absolute;
    left: 0;
    bottom: -80px;
    background-color: rgba(253, 129, 153, 0);
    border: none;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.35));
}

.cancelButton img{
    width: 65px;
}

.okButton{
    position: absolute;
    right: 0;
    bottom: -80px;
    background-color: rgba(253, 129, 153, 0);
    border: none;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.35));
}

.okButton img{
    width: 65px;
}

@media  (max-width: 1200px) {
    
}

@media  (max-width: 992px) {
    .mainTitle{
        margin: 75px auto;
        margin-bottom: 20px;;
        font-size: 3rem;
    }
}

@media  (max-width: 768px) {
    .mainTitle{
        font-size: 2.5rem;
    }
    .contentContainer{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .box{
        border-width: 18px;
        border-radius: 15px;
        border-bottom-width: 36px;
    }
    .okButton{
        bottom: -60px;
    }
    .cancelButton{
        bottom: -60px;
    }
    .okButton img{
        width: 50px;
    }
    .cancelButton img{
        width: 50px;
    }
}

@media  (max-width: 576px) {

}