.mainBody{
    background-color: rgba(253, 129, 153, 0.75);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    margin: 75px auto;
    margin-bottom: 0;
}

.mainTitle{
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
    line-height: 100%;
    color: rgba(113, 13, 92, 1);
    text-align: center;
    margin: 20px auto;
}

.title{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
    line-height: 100%;
    color: rgba(113, 13, 92, 1);
    text-align: center;
    margin: 30px auto;
}

.box{
    background-color: rgba(253, 129, 153, 0.75);
    margin: 25px auto 0px auto;
}
.myVoteBox{
    background-color: rgba(253, 129, 153, 0.75);
    margin: 25px auto 0px auto;
    padding-bottom: 25px;
}

.boxTitle{
    font-family: 'Niconne', cursive;
    font-size: 1.75rem;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.35));
    line-height: 100%;
    color: rgba(52, 41, 111, 1);
    padding-top: 15px;
    padding-bottom: 15px;
}

.image{
    width: 100%;
    height: auto;
}

.addButton{
    width: 100%;
    background-color: rgba(253, 129, 153, 0.75);
    border: none;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.35));
    margin: 15px auto;
    padding: 10px;
}

.deleteButton{
    width: 100%;
    border: none;
    padding: 10px;
    background-color: rgba(253, 129, 153, 0.75);
}

.submitContainer{
    width: 100%;
}

.submitButton{
    padding: 10px 25px;
    background-color: rgba(104, 7, 85, 0.85);
    color: #FBAC4F;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.35));
    border: none;
    border-radius: 1.5625rem;
    font-family: 'Nico Moji', cursive;
    font-size: 1.375rem;
    line-height: 100%;
    text-transform: uppercase;
    margin: 37.5px auto;
}

.submitContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media  (max-width: 1200px) {
    .boxTitle{
        font-size: 1.375rem;
    }
}

@media  (max-width: 992px) {
    .mainTitle{
        margin: 10px auto;
    }
}

@media  (max-width: 768px) {
    .mainTitle{
        font-size: 3.25rem;
    }
    .title{
        font-size: 2.125rem;
    }
    .boxTitle{
        font-size: 1.5rem;
    }
    .mainBox{
        padding: 0;
    }
}

@media  (max-width: 576px) {
    .boxTitle{
        font-size: 1.25rem;
    }
}